backend/venv/
backend/db.sqlite3
*.pyc
__pycache__/

# Large binaries & local models
college-physics-2e_-_WEB.pdf
backend/model/
backend/chroma_db/

# Local environment variables and secrets
backend/.env
first/.env
