@theme {
  --color-surface-dim: #0d141d;
  --color-surface-bright: #333a44;
  --color-surface-container-lowest: #080f18;
  --color-surface-container-low: #151c26;
  --color-surface-container: #19202a;
  --color-surface-container-high: #242a34;
  --color-surface-container-highest: #2e353f;
  --color-on-surface: #dce3f0;
  --color-on-surface-variant: #cac3d8;
  --color-inverse-surface: #dce3f0;
  --color-inverse-on-surface: #2a313b;
  --color-outline: #948ea1;
  --color-outline-variant: #494455;
  --color-surface-tint: #cdbdff;
  --color-primary: #cdbdff;
  --color-on-primary: #370096;
  --color-primary-container: #7c4dff;
  --color-on-primary-container: #fcf6ff;
  --color-inverse-primary: #6833ea;
  --color-secondary: #99cbff;
  --color-on-secondary: #003355;
  --color-secondary-container: #2c96e5;
  --color-on-secondary-container: #002c4a;
  --color-tertiary: #00e1ae;
  --color-on-tertiary: #003829;
  --color-tertiary-container: #008264;
  --color-on-tertiary-container: #e4fff2;

  /* Custom Spacing */
  --spacing-margin-mobile: 20px;
  --spacing-gutter: 24px;
  --spacing-unit: 8px;
  --spacing-container-max: 1280px;
  --spacing-section-gap: 120px;

  /* Custom Fonts */
  --font-display-xl: 'Inter', sans-serif;
  --font-headline-lg: 'Inter', sans-serif;
  --font-body-md: 'Inter', sans-serif;
  --font-label-sm: 'Inter', sans-serif;
}

:root {
  --font-inter: 'Inter', sans-serif;
}
