@theme {
  --color-surface: #111318;
  --color-surface-dim: #111318;
  --color-surface-bright: #37393e;
  --color-surface-container-lowest: #0c0e12;
  --color-surface-container-low: #1a1c20;
  --color-surface-container: #1e2024;
  --color-surface-container-high: #282a2e;
  --color-surface-container-highest: #333539;
  --color-surface-variant: #333539;
  --color-on-surface: #e2e2e8;
  --color-on-surface-variant: #c4c5d9;
  --color-inverse-surface: #e2e2e8;
  --color-inverse-on-surface: #2f3035;
  --color-outline: #8e90a2;
  --color-outline-variant: #434656;
  --color-surface-tint: #b8c3ff;
  --color-primary: #b8c3ff;
  --color-on-primary: #002388;
  --color-primary-container: #2e5bff;
  --color-on-primary-container: #efefff;
  --color-inverse-primary: #124af0;
  --color-secondary: #4edea3;
  --color-on-secondary: #003824;
  --color-secondary-container: #00a572;
  --color-on-secondary-container: #00311f;
  --color-secondary-fixed: #6ffbbe;
  --color-secondary-fixed-dim: #4edea3;
  --color-on-secondary-fixed: #002113;
  --color-on-secondary-fixed-variant: #005236;
  --color-tertiary: #ffb59b;
  --color-on-tertiary: #5b1a00;
  --color-tertiary-container: #c24100;
  --color-on-tertiary-container: #ffece6;
  --color-tertiary-fixed: #ffdbcf;
  --color-tertiary-fixed-dim: #ffb59b;
  --color-on-tertiary-fixed: #380d00;
  --color-on-tertiary-fixed-variant: #812800;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
  --color-primary-fixed: #dde1ff;
  --color-primary-fixed-dim: #b8c3ff;
  --color-on-primary-fixed: #001356;
  --color-on-primary-fixed-variant: #0035be;
  --color-neural-electric: #2e5bff;
  --color-instructional-white: #ffffff;
  --color-glass-stroke: rgba(255, 255, 255, 0.12);
  --color-background: #111318;
  --color-on-background: #e2e2e8;

  /* Custom Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 12px;
  --spacing-base: 8px;
  --spacing-unit: 8px;
  --spacing-md: 24px;
  --spacing-lg: 48px;
  --spacing-xl: 80px;
  --spacing-gutter: 24px;
  --spacing-margin-mobile: 16px;
  --spacing-margin-desktop: 64px;
  --spacing-container-max: 1280px;
  --spacing-section-gap: 120px;
  --spacing-stage-margin: 64px;
  --spacing-wing-width: 320px;
  --spacing-interaction-bar-height: 96px;

  /* Custom Fonts */
  --font-title-md: 'Hanken Grotesk', sans-serif;
  --font-display-lg: 'Hanken Grotesk', sans-serif;
  --font-body-md: 'Hanken Grotesk', sans-serif;
  --font-headline-lg-mobile: 'Hanken Grotesk', sans-serif;
  --font-headline-lg: 'Hanken Grotesk', sans-serif;
  --font-label-sm: 'Hanken Grotesk', sans-serif;
  --font-body-lg: 'Hanken Grotesk', sans-serif;
  --font-headline-md: 'Hanken Grotesk', sans-serif;
  --font-display-stage: 'Hanken Grotesk', sans-serif;
  --font-label-caps: 'Hanken Grotesk', sans-serif;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-hanken: 'Hanken Grotesk', sans-serif;
}
